<h1>New Article in: "<%= @category.name %>"</h1>

<% if @article.errors.any? %>
  <div class="errors">
    <ul>
    <% @user.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="new-article-form">
  <%= render 'form' %>
</div>
