body {
  width: 80%;
  margin: auto;
  padding-top: 20px;
  background-image: url("background-cat.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 2px 2px black;
};

a {
  color: lightblue;
}