<article class="article-details">
  <br>
  <h3><%= link_to article.title, article_path(article) %></h3>
  <p>Posted By: <%= article.user.username %></p>
  <p>Created: <%= article.date %></p>
  <br>
  <hr>
</article>
