<h1><%= @category.name %></h1>

<div class="list-articles">
  <hr>
  <% @category.articles.each do |article| %>
    <%= render partial: "article_details", locals: {article: article}, remote: true %>
  <% end %>
</div>

<% if current_user %>
  <%= link_to "New Article", new_category_article_path(@category), id: "new-article-link", remote: true %>
<% end %>
